<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}">
    <!-- Bootstrap -->
    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script th:src="@{/jquery/jquery.min.js}"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script th:src="@{/bootstrap/js/bootstrap.js}"></script>
    <title>完善信息</title>
    <link rel="stylesheet" th:href="@{/css/consummate.css}">
</head>
<body>
<!--顶部栏框-->
<div class="top">
    <!--中部-->
    <div id="middle">
      <!--  <ul>
            <a href="#">医美</a>
            <a href="#">医平台</a>
            <a href="#">云健康</a>
            <a href="#">健康教育</a>
            <a href="#">闻康公益</a>
            <a href="#">药品网</a>
            <a href="#">下载App</a>
            <a href="#">微信公众号</a>
        </ul>-->
        <!--顶部右侧-->
        <div id="top_right">
            <p th:if="${session.user==null}">请<a href="login.html" target="_blank" >登录</a> 或<a href="Register.html" th:href="@{/user/register}">免费注册</a></p>
            <p th:if="${session.user !=null}">欢迎！<a href="#" target="_blank" th:href="@{/user/center}">[[${session.user.getUloginname()}]]</a> &nbsp;<a href="#"  th:href="@{/user/exit}">退出</a></p>
        </div>
    </div>

</div>
<!--页眉部分结束-->
<!--服务部分开始-->
<div id="fuwu">
    <img src="../images/6.png" th:src="@{/images/20.jpg}" alt="" id="healthcare" width="500px" height="70px" />
    <p id="zhuanjia">专家频道</p>
    <!--组件开始-->
   <!-- <div class="btn-group zujian">
        <button type="button" class="btn btn-default">医生服务</button>
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only"></span>
        </button>
        <ul class="dropdown-menu " id="zujian_four">
            <li><a href="#">医平台首页</a></li>
            <li><a href="#">医学资讯</a></li>
            <li><a href="#">原创热点</a></li>
            <li ><a href="">交流分享</a></li>
            <li><a href="#">招聘中心</a></li>
            <li><a href="#">知识手册</a></li>
            <li><a href="#">中国医生</a></li>
            <li><a href="#">服务介绍</a></li>
        </ul>
    </div>
    <div class="btn-group zujian">
        <button type="button" class="btn btn-default">药品网</button>
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu " id="zujian_three">
            <li><a href="#">药品网</a></li>

        </ul>
    </div>
    <div class="btn-group zujian">
        <button type="button" class="btn btn-default">用户服务</button>
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu " id="zujian_two">
            <li><a href="#">有问必答</a></li>
            <li><a href="yuyueguahao.html">预约挂号</a></li>
            <li><a href="#">电话咨询</a></li>
            <li><a href="#">健康经验</a></li>
            <li><a href="#">专家访谈</a></li>
            <li><a href="#">线下活动</a></li>

        </ul>
    </div>

    <div class="btn-group zujian">
        <button type="button" class="btn btn-default">健康百科</button>
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu " id="zujian_one" style="color:#666666">
            <li><a href="#">疾病百科</a></li>
            <li><a href="#">症状百科</a></li>
            <li><a href="#">检查项目</a></li>
            <li ><a href="">整形项目</a></li>
            <li><a href="#">食疗养生</a></li>
            <li><a href="#">健康资讯</a></li>
            &lt;!&ndash;第一个&ndash;&gt;
        </ul>
    </div>-->
</div>
<!--服务部分结束-->
<!--导航栏部分开始-->
<div id="daohang" style="margin-left: 570px">
    <div id="daohang_center">
        <ul>
            <a href="../templates/tl/pageshow.html" th:href="@{/main}" style="width: 200px">首页</a>
            <a href="../templates/tl/Ording.html" th:href="@{/user/Ording}" style="width: 220px">预约挂号</a>
            <a href="../templates/tl/tuwenzixun.html" th:href="@{/user/jisu}" style="width: 220px">快速咨询</a>
            <a href="#" th:href="@{/Discuss/getAll}">文章精选</a>
        </ul>
    </div>
</div>

<div class="middle">
    <div id="middle_top">
   <!-- <a href="#">首页</a>>账号设置-->
  </div>
    <div id="wrap">
        <div class="person_right">
            <div class="order-remind">
                <span class="icon"></span>
                <div class="meta">
                    <p>完善信息</p>
                </div>
                <a th:href="@{/user/center}">返回个人中心</a>
            </div>
            <div class="realName">
                <div class="tips">
                    <p>为了给你提供更好的服务，需要完善个人信息</p>
                    <p>请务必填写真实信息，您的信息我们将严格保密！</p>
                </div>
                <form action="#" method="post" th:action="@{/user/save}">
                    <ul>
                        <li >
                            <input type="hidden" th:value="${Did}" name="Did">
                            <input type="hidden" th:value="${PriceId}" name="PriceId">
                            <input type="hidden" th:value="${timeId}" name="timeId">
                        </li>
                        <li class="gfm-item" style="width: 430px">
                            <span class="gfm-left" style="margin-left: -21px">
                            <span class="gfm-required-mark">&nbsp;&nbsp;&nbsp;*</span>
                            &nbsp;&nbsp;&nbsp;手机号：
                                </span>
                            <input type="text" name="phone" class="gfm-input" style="" id="phone" placeholder="请输入手机号码">
                            <span id="jiaoyan" style="font-size: 12px"></span>
                            <span class="clear"></span>
                        </li>
                        <li class="gfm-item" style="width: 430px">
                            <span class="gfm-left"style="margin-left:-12px ">
                                <span class="gfm-required-mark">*</span>
                                真实姓名：
                            </span>
                            <input type="text" name="username" class="gfm-input" placeholder="请输入姓名">
                            <span id="name" style="font-size: 12px"></span>
                            <span class="clear"></span>
                        </li>
                        <li class="gfm-item" style="width: 430px">
                            <span class="gfm-left" style="margin-left: -21px">
                                <span class="gfm-required-mark">&nbsp;&nbsp;&nbsp;*</span>
                                &nbsp;&nbsp;&nbsp;身份证：
                            </span>
                            <input  type="text" class="gfm-input" name="certNo" data-required="1"  maxlength="18" id="IdCard" placeholder="请输入身份证号码">
                            <span id="IdCardtest" style="font-size: 12px"></span>
                            <span class="clear"></span>
                        </li>
                    </ul>
                    <div class="gfm-actions">
                        <input  class="gbn gbt-green" id="submitBt" type="submit" style="border: 0"/>
                        <p style="margin-top: 10px;">
                            <a href="pageshow.html" class="gbn gbt-gray">下次再说</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="footer">
</div>
<script>
    $(function () {
        /*校验手机号码是否正确*/
        $("#phone").blur(function () {
            var value=$("#phone").val();
            if(value==""){
                $("#jiaoyan").text("请输入手机号").css("color","red");
            }else {
                var reg = /^1[34578]\d{9}$/;
                if (!reg.test(value)) {
                    $("#jiaoyan").text("请输入正确的手机号！").css("color","red");
                    $("#phone").val("");
                    return false;
                }else {
                    $("#jiaoyan").text("√   正确").css("color","green");
                }
            }
        })
        /*手机号校验结束*/


        /*身份证校验开始*/
        $("#IdCard").blur(function () {
            var val = $("#IdCard").val();
            if(val==""){
                $("#IdCardtest").text("请输入身份证").css("color","red");
            }else{
                var reg=/^((\d{18})|([0-9x]{18})|([0-9X]{18}))$/;
                if(!reg.test(val)){
                    $("#IdCardtest").text("请输入正确的身份证！").css("color","red");
                    $("#IdCard").val("");
                    return false;
                }else{
                    $("#IdCardtest").text("√   正确").css("color","green");
                }
            }
        })
    })
</script>
</body>
</html>