<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.css">
    <!-- Bootstrap -->
    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="../jquery/jquery.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="../bootstrap/js/bootstrap.js"></script>
    <title>预约信息确认</title>
    <link rel="stylesheet" href="../css/OrdingInfo.css">
    <link rel="stylesheet" href="../css/foot.css">
    <script src="../jquery/OrdingInfo.js"></script>
</head>

<body>
<div class="top">
    <!--中部-->
    <div id="middle">
        <ul>
            <a href="#">医美</a>
            <a href="#">医平台</a>
            <a href="#">云健康</a>
            <a href="#">健康教育</a>
            <a href="#">闻康公益</a>
            <a href="#">药品网</a>
            <a href="#">下载App</a>
            <a href="#">微信公众号</a>
        </ul>
        <!--顶部右侧-->
        <div id="top_right">
            <p th:if="${session.user==null}">请<a href="login.html" target="_blank" >登录</a> 或<a href="Register.html" th:href="@{/user/register}">免费注册</a></p>
            <p th:if="${session.user !=null}">欢迎！<a href="#" target="_blank" th:href="@{/user/center}">[[${session.user.getUloginname()}]]</a> &nbsp;<a href="#"  th:href="@{/user/exit}">退出</a></p>
        </div>
    </div>

</div>
<!--页眉部分结束-->
<!--服务部分开始-->
<div id="fuwu">
    <img src="../images/6.png" th:src="@{/images/6.png}" alt="" id="healthcare">
    <p id="zhuanjia">专家频道</p>
    <!--组件开始-->
    <div class="btn-group zujian">
        <button type="button" class="btn btn-default">医生服务</button>
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only"></span>
        </button>
        <ul class="dropdown-menu " id="zujian_four">
            <li><a href="#">医平台首页</a></li>
            <li><a href="#">医学资讯</a></li>
            <li><a href="#">原创热点</a></li>
            <li ><a href="">交流分享</a></li>
            <li><a href="#">招聘中心</a></li>
            <li><a href="#">知识手册</a></li>
            <li><a href="#">中国医生</a></li>
            <li><a href="#">服务介绍</a></li>
        </ul>
    </div>
    <div class="btn-group zujian">
        <button type="button" class="btn btn-default">药品网</button>
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu " id="zujian_three">
            <li><a href="#">药品网</a></li>

        </ul>
    </div>
    <div class="btn-group zujian">
        <button type="button" class="btn btn-default">用户服务</button>
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu " id="zujian_two">
            <li><a href="#">有问必答</a></li>
            <li><a href="yuyueguahao.html">预约挂号</a></li>
            <li><a href="#">电话咨询</a></li>
            <li><a href="#">健康经验</a></li>
            <li><a href="#">专家访谈</a></li>
            <li><a href="#">线下活动</a></li>

        </ul>
    </div>

    <div class="btn-group zujian">
        <button type="button" class="btn btn-default">健康百科</button>
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu " id="zujian_one" style="color:#666666">
            <li><a href="#">疾病百科</a></li>
            <li><a href="#">症状百科</a></li>
            <li><a href="#">检查项目</a></li>
            <li ><a href="">整形项目</a></li>
            <li><a href="#">食疗养生</a></li>
            <li><a href="#">健康资讯</a></li>
            <!--第一个-->
        </ul>
    </div>
</div>
<!--服务部分结束-->
<!--导航栏部分开始-->
<div id="daohang">
    <div id="daohang_center">
        <ul>
            <a href="pageshow.html" th:href="@{/main}">首页</a>
            <a href="yuyueguahao.html" th:href="@{/user/Ording}">预约挂号</a>
            <a href="tuwenzixun.html" th:href="@{/user/jisu}">图文咨询</a>
            <a href="#">电话医生</a>
            <a href="yuyueguahao.html">专家频道</a>
            <a href="#">原创热点</a>
        </ul>
        <form action="" method="get">
            <input type="text" placeholder="疾病、专家、医院、科室">
            <input type="submit" value="搜&nbsp;&nbsp;索">
        </form>
    </div>
</div>



    <!-- 中间整体 -->
    <div id="whole">
        <!-- 中间主要部分 -->
        <div id="Ording">
            <p>确认预约订单信息</p>
            <table>
                <colgroup>
                    <col width="35%">
                    <col width="16%">
                    <col width="32%">
                    <col width="17%">
                </colgroup>
                <thead>
                    <tr>
                        <th>
                            <p>医生信息</p>
                        </th>
                        <th>
                            <p>门诊类型</p>
                        </th>
                        <th>
                            <p>就诊时间</p>
                        </th>
                        <th>
                            <p>费用</p>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div id="doctorInfo">
                                <!-- 选择的医生资料 -->
                                <a href="#" style="color: #1BA0AF" th:text="${doc.DName}">易桂林</a>
                                <span th:text="${doc.getTitle().title}">主任医师</span>   <br/>
                                <a href="#" th:text="${doc.getHospital().hospitalName}">武汉市职业病防治院</a><br />
                                <a href="#" th:text="${doc.getSubject().subject}">医疗科</a>
                            </div>
                        </td>
                        <td>
                            <!-- 门诊类型 -->
                            <p th:text="${disease.diseaseName}">专家门诊</p>
                        </td>
                        <td>
                            <!-- 选择的预约时间 -->
                            <p>2019/<span th:text="${time.data}">09月19日</span> <span th:text="${time.day}"></span>  <span th:text="${time.morAfter}"></span>午</p>
                        </td>
                        <td id="gh">
                            <!-- 价格 -->
                            <p> <span th:text="${price.price}"></span>元</p>
                            <p>（挂号费）</p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div id="tips">温馨提醒：费用由医院自行设定，平台不收取任何额外费用</div>
            <form method="post" th:action="@{/user/Ording(DocId=${doc.did},UserId=${userInfo.uid},TimeId=${time.timeId},PriceId=${price.priceId})}">
                <p>选择就诊人</p>
                <div id="choosePeople">
                    <dl>
                        <!-- 病人信息 -->
                        <dt>
                            <i th:text="${#strings.substring(userInfo.uname,0,1)}+'某某'">某某某</i>
                            <span>(就诊人)</span>
                        </dt>
                        <dd>
                            身份证：<span th:text="${#strings.substring(userInfo.uidnumber,0,4)+'**********'+#strings.substring(userInfo.uidnumber,14,18)}"></span><br />
                            手机号：<span class="mobile" th:text="${#strings.substring(userInfo.utelephone,0,3)+'****'+#strings.substring(userInfo.utelephone,7,11)}">142****4155</span>
                            <i></i>
                        </dd>
                    </dl>
                </div>
                 新增就诊人弹出窗口
              <!--  <p id="addUser">
                    <a href="javascript:void(0)" onclick="popBox()">添加其他就诊人</a>
                </p>-->
                <div id="popLayer"></div>
<!--                <div id="popBox">-->
<!--                    <div class="close">-->
<!--                        <span>新增就诊人</span>-->
<!--                        <a href="javascript:void(0)" onclick="closeBox()">×</a>-->
<!--                    </div>-->
<!--                    <div id="addUser_form">-->
<!--                        <form action="post">-->
<!--                            <div id="form_content">-->
<!--                                　姓　　名：<input type="text" name="name" class="text" /><br />-->
<!--                                <span>*</span>&nbsp;&nbsp;&nbsp;证件号&nbsp;：-->
<!--                                <select name="cardType">-->
<!--                                    <option value="idcard">身份证</option>-->
<!--                                    <option value="othercard">回乡证</option>-->
<!--                                </select>-->
<!--                                <input type="text" name="cardNumber" class="twotext" /><br>-->
<!--                                　性　　别：-->
<!--                                <input type="radio" name="sex">男-->
<!--                                <input type="radio" name="sex">女<br>-->
<!--                                　年　　龄：<input type="text" name="age" class="text" /><br>-->
<!--                                <span>*</span>&nbsp;电话号码：-->
<!--                                <select name="local">-->
<!--                                    <option value="mainland">中国大陆 +86</option>-->
<!--                                    <option value="HK">中国香港 +852</option>-->
<!--                                    <option value="Macao">中国澳门 +853</option>-->
<!--                                </select>-->
<!--                                <input type="tel" name="telephone" class="twotext"><br>-->
<!--                                <p><input type="checkbox" name="default" />设为默认就诊人</p>-->
<!--                            </div>-->
<!--                            <div id="button">-->
<!--                                <button type="button" id="close" onclick="closeBox()" value="close" />取消-->
<!--                                <button type="submit" id="confirm" value="submit" />确认-->
<!--                            </div>-->
<!--                        </form>-->
<!--                    </div>-->
<!--                </div>-->
                <div id="chooseType">
                    <p>选择就诊人初复诊</p>
                    <input type="radio" name="time" id="first"  value="0"/>初诊
                    <input type="radio" name="time" id="notfirst" value="1"/>复诊
                </div>
                <div id="diseaseInfo">
                    <p>填写疾病信息</p>
                    <input type="text" name="disease" id="text" />
                    <input type="button" value="尚未确诊" id="jibing" style="height: 34px;">
                </div>
                <div id="knowit">
                    <input type="checkbox" />我已了解并同意以下规则<br />
                </div>
                <div id="action">
                    <input type="submit"  value="确认预约">
                    <span>预约成功的短信将发送到手机：
                        <!-- 预约用户的手机号码 --><em th:text="${#strings.substring(userInfo.utelephone,0,3)+'****'+#strings.substring(userInfo.utelephone,7,11)}">142****4155</em>,请注意查收！</span>
                </div>

            </form>
        </div>
    </div>
    <div id="footer">
        <div id="footer_one">
            <ul>
                <a href="">关于我们</a>
                <a href="">网站地图</a>
                <a href="">服务声明</a>
                <a href="">招聘信息</a>
                <a href="">意见反馈</a>
                <a href="">联系我们</a>
            </ul>
            <p>违法和不良信息举报电话：4008591200举报邮箱：840140851@qq.com</p>
            <p>北京市公安局海淀分局备案编号：0101101081513经营许可证编号：京ICP证080257号京ICP备10047209号-1</p>
            <p>京卫计网审【2015】第0237号互联网药品信息服务资格证书编号：(京)-非经营性-2018-0306Copyright 2002-2019 All rights reserved</p>

        </div>
    </div>
</body>

</html>