*{
    padding: 0px;
    margin: 0px;
}
#daohang{
    width: 1000px;
    margin-left: 450px;
    height: 38px;
    margin-top: 10px;
    background: #28B4C3;

}
#daohang_center{
    height: 100%;
    width: 1000px;
    margin: 0 auto;
}
#daohang_center ul{
    float: left;

}
#daohang_center a{
    display: inline-block;
    line-height: 38px;
    text-align: center;
    width: 200px;
    height:100%;
    text-decoration: none;
    color: white;
    font-size: 16px;
}
#daohang_center a:hover{
    background:#1BA0AF ;
}
#daohang_center form{
    float: right;

}

#daohang_center input:first-child{
    text-align: center;
    height: 30px;
    width: 250px;
  position: relative;
    top: 4px;

}
#daohang_center input:last-child{
    text-align: center;
   /* line-height: 38px;*/

    width: 60px;
    height: 30px;
    background: #F0931A;
    position:relative;
    right: 5px;
    top: 5px;
    border: none;
    border-radius: 5px;
    color: white;
}
