*{
    padding: 0;
    margin: 0;
}
.top{
    background-color: #F9F9F9;
    border: 1px solid #EAEAEA;
    margin-bottom:25px;

}
.top #middle{
    height: 35px;
    width: 1000px;
    /* background-color:#488B93;*/
    margin: 0 auto;
}
.top #middle ul{
    /* border: blue 1px solid;*/
    padding-top: 5px;
    width: 730px;
    display: block;
    float: left;

}
.top #middle ul a{
    font-size: small;
    margin: 20px 0;
    padding: 0 20px;
    border-left: 1px #EAEAEA solid;
    text-align: center;
    text-decoration: none;
    color: #666666;
}
.top #middle ul a:hover{
    color: #00C8AA ;
}
/*定部左侧部分*/

.top #top_right{
    float: right;
    margin: 8px 0px;
}
.top #top_right p{
    font-size: small;
    text-align: center;
}
.top #top_right a{
    color: #00C8AA;
    font-size: small;
    /* border: #488B93 1px solid;*/
    text-decoration: none;
}
.top #top_right a:hover{
    text-decoration: #00C8AA underline;
}
#fuwu{
    height: 65px;
    width: 1000px;
    margin: 0 auto;
}
#fuwu>p{
    float: right;
    margin-right: 610px;
    font-size: 20px;
    margin-top: 30px;
}
/*导航栏部分开始*/
#daohang{
    width: 1000px;
    margin-left: 450px;
    height: 38px;
    margin-top: 10px;
    background: #28B4C3;
    margin-bottom: 50px;
}
#daohang_center{
    height: 100%;
    width: 1000px;
    margin: 0 auto;
}
#daohang_center ul{
    float: left;
}
#daohang_center a{
    display: inline-block;
    line-height: 38px;
    text-align: center;
    width: 150px;
    height:100%;
    text-decoration: none;
    color: white;
    font-size: 16px;
}
#daohang_center a:hover{
    background:#1BA0AF ;
}
#daohang_center form{
    float: right;
   /* position: relative;*/
}
#daohang_center input:first-child{
    margin-top: 5px;
    height: 30px;
    width: 250px;
}
#daohang_center input:last-child{
    width: 60px;
    height: 30px;
    background: #F0931A;
    position:relative;
   right: 5px;
    border: none;
    border-radius: 5px;
    color: white;
}
/*导航栏部分结束*/

/*医生信息显示开始*/
#doctor_info{
    height: 275px;
    width: 1000px;
    margin: 0 auto;
    box-shadow:5px 2px 6px #999999;

}
#doctor_info_left{

    float: left;
    height: 195px;
    width: 203px;
}
#doctor_info_left img{
    margin: 20px 27.5px 10px;
}
#doctor_info_left a{
    display: inline-block;
    height: 18px;
    width: 60px;
    margin-left: 55px;
    background: #F9A821;
    margin-top: 3px;
    position: relative;
    color: white;
}
#aixin{
    display: inline-block;
    background: url("../images/aixin.png") ;
   /* border: 1px #1BA0AF solid;*/
    width: 16px;
    height: 16px;
}
#guanzhu{
    line-height: 18px;
    position: absolute;
    right: 10px;
}
#shuliang{
    display: inline-block;
    width: 38px;
    height: 18px;
    border: 1px #F9A821 solid;
    padding-left: 12px;
}
/*左侧结束*/
#doctor_info_center{
    width: 550px;
    height: 178px;
    float: left;
    margin-top: 20px;
    font-size: 24px;
    /*border: 1px crimson solid;*/
}
#doctor_info_center p span{
 font-size: 14px;
    color: #999999;
}
#doctor_info_center_yiyuan{
    font-size: 14px;
    color: #00C8AA;
}
.info{
    font-size: 14px;
    margin-top: 10px;
}
.info b{
    color: #999999;
}
/*中间部分结束*/
#doctor_info_right{
    width: 245px;
    height: 100%;
    border-left: #999999 1px solid;
    float: left;
}
#doctor_info_right_head{
    width: 200px;
    height: 25px;
    background: url("../images/stars.png") no-repeat;
    margin-top: 30px;
    margin-left: 40px;
}
#doctor_info_right_head span{
    margin-left: 125px;
    color: #999999;
    font-size: 18px;
    text-align: center;
}
#doctor_info_right_foot p{
    text-align: center;
    margin-top: 10px;
    color: #999999;
}
#doctor_info_right_foot span{
   margin-left: 104px;
    color: #00C8AA;
}
/*医生信息显示结束*/


/*预约挂号部分开始*/
.yuyue{
    width: 1000px;
    height: 300px;
    box-shadow:5px 2px 6px #999999;
    margin: 30px auto;
}
.yuyue_title{
    height: 50px;
    width: 750px;
    float: left;
}
.yuyue_title h2{
    display: inline-block;
    font-size: 24px;
    margin-right: 10px;
}
.yuyue_title span{
    color: #999999;
}
.yuyue_title_right{
    float: right;
    width: 250px;
    height: 50px;
    border-left: #999999 1px solid;
}
#more{
    text-decoration: none;
    color:#00C8AA ;
    margin-top: 20px;
    padding-left: 10px;
    border-left: #999999 1px solid;
}
/*标题结束*/
#yuyue_left{
    display: inline-block;
    width: 430px;
    height: 220px;
   margin: 15px 0 15px 15px;
   /* border:blue 1px solid;*/
    float: left;
}
#yuyue_left p{
    margin-left: 10px;
}
#yuyue_left p:first-child{
   margin-top: 20px;
}
#yuyue_left a{
    /*border: 0px #00C8AA solid;*/
    text-align: center;

}
#yuyue_left a:hover{
    color:#F0931A;
}
#noLogin_show a{
    border: none;
}
#yuyue_left li{
    font-size: 10px;
    width: 50px;
    height: 50px;
    border:#00C8AA 1px solid ;
    border-radius: 50%;
    position: relative;

}
#yuyue_left li p{
    position: absolute;
    display: block;
}
.ap{
    width: 18px;
    height: 18px;
    text-align: center;
    position: absolute;
    left: 25px;
    top: 30px;
    background: #999999;
    border-radius: 50%;
}
.yuyue__center_right{
    width: 280px;
    height: 220px;
    border-left: #999999 1px solid;
    float: left;
    margin-top:15px ;
    color: #999999;

}

/*左侧部分结束*/
#yuyue_right {
    height: 250px;
    width: 250px;
    float: right;
    border-left: #999999 1px solid;
    border-top: #999999 1px solid;
}
#yuyue_right img{
    display: inline-block;
    float: left;
}
#yuyue_right li{
    margin: 15px 10px;
    width: 228px;
    height: 81px;
    border-bottom: #999999 1px solid;
}
#yuyue_right a{

}
.hospital{
    margin-top: 5px;
}



/*预约挂号部分结束*/
#footer{
    margin: 0 auto;
    width: 1006px;
    height: 500px;
    border: 1px solid black;
    box-shadow:5px 2px 6px #999999
}


/*分页组件*/
#foorter_one{
    margin: 0px auto;
    width: 1006px;
    height: 50px;
    border: 1px solid black;
}

#fenye{
    padding-bottom: 20px;
    margin-left:900px;
}
