<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.healthcare.mapper.CommitMapper">
    <insert id="addCommit1" parameterType="Commit" >
       insert into commit(Uid,DoctorId,Title,Memo,sex,age,telephone,TreatmentId)
       values(#{Uid},#{DoctorId},#{Title},#{Memo},#{sex},#{age},#{telephone},2)
    </insert>
    <insert id="addCommit2" parameterType="Commit" >
       insert into commit(Uid,DoctorId,Title,Memo,sex,age,telephone,TreatmentId)
       values(#{Uid},#{DoctorId},#{Title},#{Memo},#{sex},#{age},#{telephone},1)
    </insert>
    <select id="selectTuwen" resultMap="getCommit">
        select Commit.CommitId,Doctor.DName,Commit.Title,Commit.Memo,Commit.telephone from Doctor,Commit
        where Commit.DoctorId=Doctor.Did and Commit.TreatmentId=1 and Commit.Uid=#{Uid}
    </select>
    <select id="selectJisu" resultMap="getCommit">
        select Commit.CommitId,Doctor.DName,Commit.Title,Commit.Memo,Commit.telephone from Doctor,Commit
        where Commit.DoctorId=Doctor.Did and Commit.TreatmentId=2 and Commit.Uid=#{Uid}
    </select>
    <resultMap id="getCommit" type="Commit">
        <id property="CommitId" column="CommitId"></id>
        <result property="Title" column="Title"></result>
        <result property="Memo" column="Memo"></result>
        <result property="telephone" column="telephone"></result>
        <association property="doctor" javaType="com.example.healthcare.bean.Doctor">
            <result property="DName" column="DName"></result>
        </association>
    </resultMap>
    <delete id="deleteCommit">
        delete from Commit where CommitId=#{CommitId}
    </delete>
</mapper>