<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.healthcare.mapper.TimeMapper">
    <!--根据时间的id拿到时间的信息-->
    <select id="getTime" resultType="com.example.healthcare.bean.Time">
        select * from time where TimeId=#{TimeId}
    </select>

    <!--预约成功后需要将剩余人数减一-->
    <update id="cutCount">
        update time set Account=Account-1 where TimeId=#{TimeId}
    </update>

    <!--取消预约时将剩余人数加一-->
    <update id="AddCount">
        update time set Account=Account+1 where TimeId=#{TimeId}
    </update>
</mapper>